/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {

  padding-top: @navbar-height;

  &.admin-bar {
    padding-top: @navbar-height+28px; /* WP-admin bar is 28 px */

    .navbar-fixed-top {
      top: 28px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .tagline {
    font-size: @font-size-base;
    color: @gray-light;
    display: inline-block;
  }

}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {

  .navbar-brand {
    padding-left: 15px + 60px;
    background-image: url("../img/napp-icon_header.png");
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: 5px 10px;
  }

}



/* ==========================================================================
   Content
   ========================================================================== */

.content {

  .page-header h1 .tagline {

    &:before {
      content: "| ";
    }

  }

}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  article {

    footer {
      font-size: @font-size-small;
      margin: @line-height-computed 0 @line-height-computed;

      .entry-meta {
        margin: @line-height-computed 0 @line-height-computed;
        padding: ((@line-height-computed / 2) - 1);
        border-left: 1px solid @page-header-border-color;
      }

      p {
        margin: 0;
      }
    }

    &.species {

      blockquote p {
        font-size: @font-size-base;

        strong {
          font-size: @font-size-small;
          font-weight: normal;
        }

        strong:before {
          content: "— ";
        }
      }

      figure.featured {
        margin: 0 0 (@line-height-computed / 2);
      }

      figure.featured img {
        padding: 4px;
        .box-shadow();
        border: @species-border;
      }

      figure.featured figcaption {
        padding: (@line-height-computed / 2);
        font-size: @font-size-small;
      }

      img.env-badge {
        height: 70px;
        padding-right: 10px;
      }

      .tagline {
        font-weight: normal;

      &:before {
        content: "| ";
      }
      }
    }
  }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  margin: (@line-height-computed * 2) 0 @line-height-computed;
}

/* ==========================================================================
   Species Collection
   ========================================================================== */

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow() {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.species-background(@icon) {

  background-image: url("../img/napp-icon_@{icon}.png");
  background-repeat: no-repeat;
  background-position: (@species-padding/2) 50%;
  background-size: 40px 56px;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url("../img/napp-icon@2x_@{icon}.png");

  }
}

@species-border: 1px solid @table-border-color;
@species-icon-width: 40px;
@chevron-icon-width: 14px;
@species-padding: 24px;

.species-collection {

  .border-radius(@border-radius-base);
  border: @species-border;

  li {

    > a {

      color: @gray-dark;

      font-size: ceil(@font-size-base * 1.5);
      line-height: ceil(@font-size-base * 1.6);
      min-height: ceil(@font-size-base * 2);
      border-top: @species-border;

      padding: @species-padding;
      padding-left: (@species-padding + @species-icon-width);
      padding-top: (@species-padding + @species-padding/2);
      padding-right: (@species-padding + @chevron-icon-width*1.5);

      position: relative;

      .tagline {
        margin-left: (@font-size-base / 2);

        &:before {
          content: "— ";
        }
      }

      .glyphicon {
        font-size: @font-size-small;
        position: absolute;
        margin-top: -3px;
        top: 50%;
        right: @species-padding - @chevron-icon-width/2;

        @media (max-width: @screen-sm) {
          margin-top: 0;
        }
      }

      &.Green {
        .species-background("yes");
      }

      &.Orange {
        .species-background("maybe");
      }

      &.Red {
        .species-background("no");
      }

    }

    > a:hover {
      color: @gray-light;
      cursor: pointer;
    }

    article.species {
        display: none;

      padding: @species-padding;
      border-top: @species-border;
    }

  }

  li:first-child {
    > a {
      border-top: none;
    }
  }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content {
}
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  padding-top: (@line-height-computed);
  margin-top: (@line-height-computed * 2);
  margin-bottom: (@line-height-computed * 2);
  border-top: 1px solid @page-header-border-color;

}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

.alignleft {
  margin: (@line-height-computed / 2) @line-height-computed (@line-height-computed / 2) 0;
}

.alignright {
  margin: (@line-height-computed / 2) 0 (@line-height-computed / 2) @line-height-computed;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
